* {
   
    margin: 0;
    box-sizing: border-box;

}


body {
    
    display: flex;
    margin-top: 10%;   
    background-color: rgb(28, 117, 113);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.title {

    display: flex;
    justify-content: center;
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 94, 94);
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
    background-color: aquamarine;
    width: 600px;
    height: 150px;
    border: solid white 5px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.subtitulo {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}

.campo {
    margin: 10px;
    width: auto;
        
}

#submit {
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}
    
.banner {

    position: absolute;
    z-index: -1;
    height: 55%;
    width: 100%;

    background: linear-gradient(261deg,#6094c4,#8ed5b5,#cdd1af);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}


section {
    
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    background-color: aquamarine;
    border: solid white 5px;
    border-radius: 30px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}



input[type=text] {
    width: 8ch;
    height: 35px;
    text-align: center;
    font-size: 22px;
}


@media (max-width: 1250px){

    h1 { 
        width: 300px;
        font-size: 18px;
    }

    section { 
        width: 300px;

    }

}


@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }