
*, body {
	box-sizing: border-box;
	margin: 0;
  font-family: "Comic Sans MS",  sans-serif;
  font-size: 16px;
}


h1 {
	margin: 30px;
	font-size: 175%;
	text-align: center;
}

p {
	margin-block-start: 15px;
  margin-block-end: 5px;
	padding: 15px;
	width: 100%;
}


.box {
	background-color: grey;
	border: 1px black solid;
	margin-left: 15px;
	margin-bottom: 15px;
	float: left;
}


.caixinha {
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	width: 125px;
	border: 1px black solid;
	float: right;
	position: relative;
	top: -2px;
	left: 2px;
	
}


.chicken {
	color: black;
	background-color: #e49999;
}
.beef {
	color: white;
	background-color: darkred;
}
.sushi {
	color: black;
	background-color: #d9bf8f;
}




/*** large ***/
@media (min-width: 992px){

.b1,.b2,.b3 {
    
width:calc(33.33% - 20px);
overflow: hidden;

        }
}


/*** medium ***/
@media (min-width: 768px) and (max-width: 991px) {

.b1,.b2 {
    
width:calc(50% - 25px);
overflow: hidden;

        }
.b3 {

	width: calc(100% - 35px);

    }
}


/*** small ***/

@media (max-width: 767px){

.b1,.b2,.b3 {
    
width: calc(100% - 30px);
overflow: hidden;

            }
}

