
* {
	box-sizing: border-box;
	margin-block-start: 10;
  margin-block-end: 0;
  font-family: "Comic Sans MS",  sans-serif;
}


h1 {
	margin: 20px 10px 30px 10px;
	text-align: center;
}


p {
	padding: 10px;
}


.box {
	background-color: grey;
	border: 2px black solid;
	width: 30%;
	margin: 10px;
	float: left;
}


.caixinha {
	text-align: center;
	font-weight: bold;
	width: 125px;
	border: 2px black solid;
	float: right;
	position: relative;
	top: -2px;
	left: 2px;
	
}


.chicken {
	color: black;
	background-color: #e49999;
}
.beef {
	color: white;
	background-color: darkred;
}
.sushi {
	color: black;
	background-color: #d9bf8f;
}



.b1{

}
.b2{

}
.b3{

}
